<footer class="site-footer">
  <div class="container">
    <p>&copy; 2024 BookHaven. All rights reserved.</p>
    <p class="footer-tagline">"A room without books is like a body without a soul." - Cicero</p>
    <div class="social-media">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <!-- Add more social icons as needed -->
    </div>
  </div>
</footer>
