.site-footer {
  background-color: #3E2723;
  color: #EFEBE9;
  padding: 2em 0;
  text-align: center;
}

.site-footer .footer-tagline {
  font-style: italic;
  color: #BCAAA4;
  margin: 0.5em 0 1em;
  font-size: 0.95em;
}

.site-footer .social-media a {
  color: #EFEBE9;
  margin: 0 0.5em;
  font-size: 1.5em;
}

.site-footer .social-media a:hover {
  color: #FFD54F;
}
